table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0 ;
}

th, td {
    padding: 10px;
    border: 1px solid var(--border-color);
    text-align: left;
}

th {
    background-color: var(--blue-color);
    color: white;
}

td button.normal {
    font-size: 16px;
    margin-left: 10px;
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

td button:hover.normal {
    background-color: #0056b3;
}
